body {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

#main > .project {
  display: flex;
  flex-direction: column;
}

.project > .top-div {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.project:not(:first-child) {
  border-top: 2px solid black;
}

.add-todo-item {
  padding: 2px 4px;
  height: fit-content;
}

.projectTitle {
  font-weight: bolder;
}

.todo-item,
.project > .middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  grid-template-areas: "title desc date priority";
}

.item-title {
  grid-area: title;
}

.item-desc {
  grid-area: desc;
}

.item-date {
  grid-area: date;
}

.item-priority {
  grid-area: priority;
}

/* Only applies when the dialog is open
Display flex wasn't letting me close the dialog  */
.form-add-todo-item[open] {
  display: flex;
  flex-flow: column wrap;
  width: 30vw;
  border: 2px solid black;
}

.form-add-todo-item[open] > label {
  margin-top: 1rem;
}

.form-add-todo-item[open] > .form-button-submit {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: cornflowerblue;
  border: 0;
  border-radius: 0.5rem;
}

.form-add-todo-item[open] > .form-button-close {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: crimson;
  border: 0;
  border-radius: 0.5rem;
}
